.parallax-container {
    height: 300px;
}

.background-image-blur {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: -10;
    -webkit-filter: blur(80px);
    -moz-filter: blur(80px);
    -o-filter: blur(80px);
    -ms-filter: blur(80px);
    filter: blur(80px);
    animation: fadein 0.5s;
}

.background-image-blur::after {
    content: '';
    background-color: rgba(49,52,58,0.847);
    width: 100%;
    height: 100%;
    position: fixed;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

h6 {
    color: rgba(255,255,255,0.549);
}

#top-description {
    display: inline-block;
}

hr {
    clear: both;
}

.badge.genre i {
    color: rgba(255,255,255,0.549);
}