<div id="add-libary-modal" class="modal" materialize="modal" [materializeParams]="addLibraryModalParams" [materializeActions]="addLibraryModalActions">
  <div class="modal-content">
    <mc-library-add *ngIf="loadLibraryAddModal"></mc-library-add>
  </div>
</div>
<ul [@openState]="isOpen" materialize="sideNav" [materializeActions]="sideNavActions" [materializeParams]="[{ draggable: false }]" id="side-bar"
  class="side-nav">
  <li class="d-inline-flex">
    <a class="subheader p-r-xs">Libraries</a>
    <button (click)="openAddLibraryModal()" class="icon-btn waves-effect waves-light btn-flat m-t-xxs modal-trigger">
      <i class="material-icons">add</i>
    </button>
  </li>
  <li *ngFor="let library of libraries" >
    <a class="waves-effect waves-light" [routerLink]="['/libraries', library.id]">
      <i class="fa fa-{{faClass(library.id)}}"></i>{{library.name}}
    </a>
    <a materialize="dropdown" [materializeParams]="[{alignment:'left', closeOnClick:true, coverTrigger:false}]" class='dropdown-trigger icon-btn waves-effect waves-light btn-flat' href="#" [attr.data-activates]="'library-' + library.id + '-menu'"><i class="material-icons">more_horiz</i></a>
      <ul id='library-{{library.id}}-menu' class='dropdown-content'>
        <li>
          <a href="#!" (click)="deleteLibrary(library.id)">Delete</a>
        </li>
      </ul>
  </li>
</ul>