#side-bar {
    background-color: rgba(36,38,43,0.49);
    margin-top: 64px;
    overflow: visible;
}

#add-libary-modal {
    min-height: 650px;
    overflow: hidden;
}

#side-bar li > a:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

#side-bar li {
    display: inline-flex;
    width: 100%;
}

#side-bar li .dropdown-trigger {
    padding: 0;
    height: 36px;
    margin: 0;
    float: right;
    right: 0;
    position: absolute;
}

#side-bar li a:not(.dropdown-trigger) {
    width: 100%;
}

li a, li i {
    color: white;
}

li .subheader {
    width: initial !important;
    color: rgba(255,255,255,0.588);
}

@media only screen and (min-width: 992px) {
    #side-bar {
        transform: translateX(0%) !important;
    }
}

@media only screen and (max-width: 992px) {
    #side-bar {
        background-color: #24262b;
    }
}