<div class="row">
  <div class="col s12">
    <input type="text" [value]="selectedDirectory ? selectedDirectory.path : selectedDrive?.name" />
  </div>
  <div class="col s3">
    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="name" type="text" id="name">
        <label for="name">Name</label>
      </div>
      <div class="col s12">
          <label for="name">Library Type</label>
      </div>
      <div class="col s6">
        <button class="library-type-btn waves-effect waves-light btn-flat m-y-md p-a-0" [class.selected]="selectedLibraryType === 0"
          (click)="onLibraryTypeSelect(0)">
          <i class="fa fa-film"></i>
        </button>
      </div>
      <div class="col s6">
        <button class="library-type-btn waves-effect waves-light btn-flat m-y-md p-a-0" [class.selected]="selectedLibraryType === 1"
          (click)="onLibraryTypeSelect(1)">
          <i class="fa fa-tv"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col s4">
    <ul class="collection">
      <li *ngFor="let drive of drives" (click)="onDriveSelect(drive)" [class.selected]="drive === selectedDrive" class="collection-item">{{drive.name}}</li>
    </ul>
  </div>
  <div class="col s5">
    <ul class="collection">
      <li *ngIf="selectedDirectory" class="collection-item selected">{{selectedDirectory.name}}</li>
      <div id="directories">
        <li *ngFor="let directory of directories" (click)="onDirectorySelect(directory)" class="collection-item">{{directory.name}}</li>
      </div>
    </ul>
  </div>
  <button id="library-create-btn" (click)="createLibrary()" class="waves-effect waves-light btn pull-right">Create</button>
</div>