<div class="card item-card {{item.cardType}}-item-card">
    <div class="card-image placeholder">
        <img *ngIf="item.posterPath || item.backupPosterPath" mcImagePlaceholder [hiResImageUrl]="posterUrl" src="{{posterPlaceHolder}}">
        <img *ngIf="item.stillPath || item.backupStillPath" mcImagePlaceholder [hiResImageUrl]="stillUrl" src="{{stillPlaceHolder}}">
    </div>
    <div class="card-content p-t-xs">
        <a [routerLink]="item.linkPath">
            <span class="card-title">{{item.title}}</span>
        </a>
        <p>
            <span *ngFor="let badge of item.badges" class="new badge left m-t-xs m-l-0 m-r-xs" data-badge-caption="">
                <a *ngIf="badge.linkPath && badge.linkPath.length" [routerLink]="badge.linkPath">
                    {{badge.text}}
                </a>
                <span *ngIf="!badge.linkPath || !badge.linkPath.length">
                    {{badge.text}}
                </span>
            </span>
        </p>
    </div>
</div>