:host {
    margin-bottom: 10px;
}

.item-card {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.item-card .card-content {
    padding: 5px;
    color: white;
    border-top: 3px solid #3f7ad2;
}

.item-card .card-content .card-title {
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}

p {
    color: #a9adb5;
}

span.badge.new {
    background-color: #90909085;
}